* {
  font-family: "Cultive Mono", "Courier New", Courier, monospace;
}

body {
  background-color: black;
  color: #00CC00;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.main {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.main p {
  font-size: 35px;
}

.main-button {
  text-align: center;
  background-color: #00CC00;
  border: outset;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 120px;
}

div::-webkit-scrollbar {
    display: none;
}

button {
  cursor: pointer;
}

.buy-worker {
  float: right;
}

.buy-technology {
  float: left;
}

.buy-worker, .buy-technology {
  display: inline;
  width: 33%;
  text-align: center;
  height: 500px;
  overflow-y: scroll
}

.buy-worker button, .buy-technology button {
  text-align: center;
  background-color: #00cc00;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  width: 400px;
}

.buy-worker button {
  float: right;
}

.buy-technology button {
  float: left;
}

.buy-worker button:hover, .buy-technology button:hover {
  background-color: #fff;
  color: #00CC00;
}

.buy-worker button:active, .buy-technology button:active {
  background-color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tech {
  display: inline;
  width: 33%;
  float: left;
}

p {
  display: block;
  font-family: courier;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.reset {
  text-align: center;
  background-color: #ff0000;
  color: #fff;
  border: outset;
  padding: 10px 15px;
  text-decoration: none;
  display: inline;
  font-size: 20px;
  width: 16.5%;
}
.reset:hover {
  color: #ff0000;
  background-color: #fff;
}

button.disabled {
  box-shadow: 0 5px #808080;
  background-color: #808080;
}

button.disabled:hover {
  background-color: #818181;
}

button.disabled:active {
  transform: translateY(0px);
}

.tooltipupgrades {
  position: absolute;
  top: 80px;
  right: 1300px;
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipworkers {
  position: absolute;
  top: 80px;
  right: 180px;
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipupgrades .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 200%;
}

.tooltipworkers .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltipupgrades:hover .tooltiptext {
  visibility: visible;
}

.tooltipworkers:hover .tooltiptext {
  visibility: visible;
}
