.main-button {
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: outset;
    color: white;
    padding: 100px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120px;
}
