* {
  font-family: "Courier New", Courier, monospace;
}

.main {
    display: inline-block;
    width: 33%
}

.main p {

    font-size: 35px;
}

.main-button {
    text-align: center;
    background-color: #9900cc;
    border: outset;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 120px;
}

.buy-worker {
    display: inline;
    width: 33%;
    float: right;
}

.buy-worker button {
    text-align: center;
    background-color: #9900cc;
    border: outset;
    color: white;
    padding: 20px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    float: right;
    width: 400px
}

.buy-worker button:hover {
  background-color: #cc00cc
}

.buy-worker button:active {
  background-color: #cc00cc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buy-technology {
    display: inline;
    width: 33%;
    float: left;
}

.buy-technology button {
    text-align: right;
    background-color: #9900cc;
    border: outset;
    color: white;
    padding: 20px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    float: left;
    width: 400px
}

.buy-technology button:hover {
  background-color: #cc00cc
}

.buy-technology button:active {
  background-color: #cc00cc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tech {
    display: inline;
    width: 33%;
    float: left;
}

p {
  display: block;
  font-family: courier;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.reset {
  text-align: center;
  background-color: #ff0000;
  border: outset;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline;
  font-size: 20px;
  width: 16.5%
}

button.disabled {
  box-shadow: 0 5px #808080;
  background-color: #808080;
}

button.disabled:hover {
  background-color: #818181;
}


button.disabled:active {
  transform: translateY(0px);
}
